{% extends "./base.html" %}
{% block title %} Bar {% endblock %}
{% load static %}
{% block body %}
<div class="col-md-4 offset-md-4">
    <h2>Edición de Bar</h2>
    <div class="card">
        <div class="card-body">
            <form action={% url 'editarBar' %} method="POST">{% csrf_token %}
                <br>
                <div class="form-group">
                    <input type="hidden" id="txtId_Producto" name="txtId_Producto"  value="{{bar.Id_producto}}"
                    class="form-control" placeholder="Id_producto" minlength="1" maxlength="6" readonly required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" id="txtTipoBebida" name="txtTipoBebida" value="{{bar.TipoBebida}}"
                    class="form-control" placeholder="TipoBebida" minlength="1" maxlength="30" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" id="txtNombre" name="txtNombre" value="{{bar.Nombre}}"
                    class="form-control" placeholder="Nombre" maxlength="50" required>
                </div>
                <br>
                
                <div class="form-group">
                    <input type="text" id="txtPrecio" name="txtPrecio"  value="{{bar.Precio}}"
                    class="form-control" placeholder="Precio" minlength="1"  required>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" id="txtEstado" name="txtEstado" value="{{bar.Estado}}"
                    class="form-control" placeholder="Estado"  maxlength="30" required>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}